.mainDash__cardGrid {
  max-width: 1024px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
}

.drag__item {
  margin-bottom: 25px;
}

.column {
  max-width: 500px;
  width: 100%;
}

.droppable-col {
  width: 100%;
  min-height: 100px;
}

.dropping {
  outline: 3px dashed grey;
}

.grid {
  position: relative;
  width: 100%;
}

.item {
  display: block;
  position: absolute;
  width: auto;
  min-height: 100px;
  z-index: 1;
  color: #555;
}

.item-content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.draggable__item {
  position: relative;
}
.draggable__handle {
  position: absolute;
  top: 10px;
  left: 10px;
}

.MuiCardContent-root {
  padding: 0 !important;
}

.card__element {
  display: inline-block;
  margin: 0 0 15px;
  width: 100%;
  box-sizing: border-box;
}

.card__headerSection {
  display: flex;
  flex-direction: column;
  padding: 16px;
  border-bottom: 1px solid lightgrey;
}

.card__utilities {
  display: flex;
  justify-content: flex-end;
}

@media screen and (max-width: 768px) {
  .mainDash__cardGrid {
    column-width: 1;
  }
}
