.navigationTabs {
  background-color: #fff;
  display: flex;
  justify-content: center;
  box-shadow: 0px 1px 5px -2px rgb(0 0 0 / 70%);
  position: relative;
}

.navigationTabs__nav {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1300px;
}

.navigationTabs__options {
  margin-right: 50px;
}
.navigationTabs__paper {
  border-radius: 0;
  display: flex;
  box-shadow: none !important;
}
