.card {
  flex: 0.49;
  min-width: 350px;
  margin: 10px 0;
}

.card__utilities {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.card__header {
  padding: 15px;
  border-bottom: 1px solid lightgray;
}

.footer {
  border-top: 1px solid lightgrey;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
}

.search__form {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}
.search__form > .MuiFormControl-root {
  width: 100%;
}
