.listItems {
  max-height: 125px !important;
  overflow-y: scroll;
}

.listItems::-webkit-scrollbar {
  width: 6px;
}

.listItems::-webkit-scrollbar-track {
  border: none;
  background-color: #fff;
}

.listItems::-webkit-scrollbar-thumb {
  border: none;
  background-color: #dbdbdb;
  border-radius: 10px;
}

.listItems::-webkit-scrollbar-thumb:hover {
  background-color: #cac8c8;
}
