.softwareEd__list {
  height: 200px;
  overflow-y: scroll;
  padding: 16px !important;
}

.softwareEd__list::-webkit-scrollbar {
  width: 6px;
}

.softwareEd__list::-webkit-scrollbar-track {
  border: none;
  background-color: #fff;
}

.softwareEd__list::-webkit-scrollbar-thumb {
  border: none;
  background-color: #dbdbdb;
  border-radius: 10px;
}

.softwareEd__list::-webkit-scrollbar-thumb:hover {
  background-color: #cac8c8;
}
