.app__body {
  display: flex;
  height: 100vh;
}

.app__nav {
  position: fixed;
  height: 100vh;
  z-index: 999;
}

.container {
  padding: 0 15px;
  margin-top: 24px;
  width: 85%;
  max-width: 1296px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

/* If nav is closed */
.sideNav.openNav > h4 {
  transition: opacity 0.2s 0.3s ease;
  opacity: 1 !important;
}
.sideNav.openNav > .sideNav__menuGroup > .sidebar_nav .sidenavLink > h3 {
  transition: opacity 0.2s 0.3s ease;
  opacity: 1 !important;
  /* display: block !important; */
}
